body{
    background-image: url("istockphoto-938050474-170667a.jpg");
}

#title{
    color: white;
}

#ig{
    color: white;
}

#IG{
    color:white;
}

#insta{
    width: 100px;
    height: 100px;
}

#instag{
    width: 100px;
    height: 100px;
}